@media (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }


    .block
    {
        margin-bottom: 50px;
    }



    /*------------
        Header
    ------------*/
    .mob_header
    {
        display: block;
    }


    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 310px;
        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
        height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: var(--bg);
        box-shadow: none;
    }

    header.show
    {
        transform: translateX(0);
    }


    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
        height:         fill-available;
        padding: 0 0 20px;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    header .mob_scroll::-webkit-scrollbar
    {
        width: 4px;
        height: 4px;
    }

    header .mob_scroll > *
    {
        width: 100%;
    }


    header .logo
    {
        display: none;
    }

    header .info
    {
        width: 100%;
        padding: 0;
    }


    header .phone
    {
        width: 100%;
        margin-top: 20px;

        order: 3;
    }

    header .callback_btn
    {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;

        order: 3;
    }


    header .contacts
    {
        display: block;

        width: 100%;
        margin-top: 20px;

        order: 3;
    }


    header .search
    {
        display: none;
    }


    header .menu
    {
        width: 100%;
        margin: 0;
        padding: 13px 0;

        border-top: none;
        border-bottom: 1px solid #e0e0e0;
    }

    header .menu .item
    {
        width: 100%;
        margin: 0;
    }

    header .menu .item > a
    {
        min-height: 0;
        padding: 7px 0;

        text-align: left;

        justify-content: flex-start;
    }

    header .menu .item > a:before,
    header .menu .item > a:after
    {
        display: none;
    }


    header .menu .sub_menu,
    header .menu .item:hover .sub_menu
    {
        position: relative;
        top: 0;

        display: none;
        visibility: visible;

        width: calc(100% + 40px);
        margin: 5px -20px 10px;
        padding: 15px 0;

        pointer-events: auto;

        opacity: 1;
        border-radius: 0;
    }

    header .menu .item > a.touch_link + .sub_menu.show
    {
        top: 0;

        display: block;
    }

    header .menu .sub_menu a
    {
        font-size: 15px;

        padding: 6px 20px;

        white-space: normal;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/
    .block_head .title.mini
    {
        font-size: var(--font_size_title);
    }

    .block_head .title:after
    {
        top: 0;

        height: calc(100% - 12px);
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 30px;
    }

    .text_block h3
    {
        font-size: 18px;
        line-height: 130%;
    }


    .text_block img.left
    {
        max-width: calc(50% - 40px);
        margin-right: 40px;
    }

    .text_block img.right
    {
        max-width: calc(50% - 40px);
        margin-left: 40px;
    }


    .text_block .cols .col
    {
        width: calc(50% - 10px);
    }


    .text_block .message
    {
        padding: 20px;
    }


    .text_block .table_wrap,
    .text_block blockquote,
    .text_block q,
    .text_block .columns,
    .text_block .cols,
    .text_block .message
    {
        margin: 40px 0;
    }


    .text_block table
    {
        width: 728px;
        min-width: 0;
    }


    .text_block .columns
    {
        column-gap: 0;
        column-count: 1;
    }


    .text_block ul li:before
    {
        top: 9px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .cont
    {
        min-height: 450px;
        padding-top: 60px;
        padding-bottom: 140px;
    }

    .main_slider .slide .info
    {
        width: 398px;
    }

    .main_slider .slide .title
    {
        font-size: 44px;
    }

    .main_slider .slide .desc
    {
        font-size: 20px;

        width: 298px;
        margin-top: 20px;
    }


    .main_slider .slide .link
    {
        font-size: 16px;

        margin-top: 25px;
        padding: 11px 30px 12px;
    }


    .main_slider .count .current
    {
        font-size: 32px;
        line-height: 32px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .cat
    {
        padding: 100px 30px 50px 0;
    }

    .categories .cat + .cat
    {
        padding-left: 30px;
    }


    .categories .cat .link
    {
        font-size: 16px;

        margin-top: 25px;
        padding: 11px 30px 12px;
    }


    .categories .cat .img
    {
        width: 200px;
    }

    .categories .cat + .cat .img
    {
        left: 60px;

        width: 380px;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .products .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*---------
        Faq
    ---------*/
    .faq .item .data
    {
        padding: 5px 25px 25px 25px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form
    {
        margin-bottom: 70px;
    }

    .action_form .data
    {
        padding: 30px;
    }


    .action_form .info
    {
        width: 100%;
    }


    .action_form .info .title
    {
        font-size: 28px;
    }

    .action_form .info .title.border
    {
        margin-right: 0;
    }

    .action_form .info .title.border:after
    {
        height: calc(100% - 12px);
    }


    .action_form .info .call
    {
        font-size: 16px;

        width: 200px;
        margin-top: 25px;

        text-align: left;
    }

    .action_form .info .call .phone
    {
        font-size: 23px;
    }


    .action_form .form,
    .action_form .form.mini
    {
        width: calc(100% - 220px);
        margin-top: -74px;
        margin-left: auto;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .gallery .row > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-top: -20px;
    }

    .product_info .mob_product_name
    {
        display: block;
    }


    .product_info .images
    {
        width: 100%;
        margin-bottom: 25px;
    }

    .product_info .data
    {
        width: 100%;
    }


    .product_info .images .big .slide a
    {
        padding-bottom: 350px;
    }

    .product_info .images .thumbs .slider
    {
        width: 440px;
        max-width: 100%;
        margin: 25px auto 0;
        padding: 0 71px;
    }


    .product_info .data .product_name
    {
        display: none;
    }


    .product_info .data .articul
    {
        margin-top: 0;
    }


    .product_info .data .desc
    {
        margin-top: 25px;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .row > *
    {
        width: 100%;
    }

    .product_features .row > * + *
    {
        width: 100%;
        margin-top: 40px;
    }


    .product_features .exp
    {
        margin-top: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 35px;
    }



    /*------------
        Footer
    ------------*/
    footer .info
    {
        padding: 50px 0 40px;
    }


    footer .menu,
    footer .cats
    {
        display: none;
    }


    footer .copyright
    {
        width: 100%;
        margin-bottom: 5px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 30px;
    }


    .modal_title
    {
        font-size: 30px;

        margin-bottom: 25px;
        padding-bottom: 10px;
    }


    .modal .form .line
    {
        margin-bottom: 15px;
    }
}
